<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>EMP list</h1>

<table>
    <tr>
        <th>员工编号</th>
        <th>员工名称</th>
        <th>员工年龄</th>
    </tr>
    <!--分页遍历-->
        <tr th:each="emp : ${page.content}">
            <td th:text="${emp.id}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.age}"></td>
         </tr>
</table>
 <div>
         <a th:href="@{/employee(start=0)}">[首页]</a>&nbsp;&nbsp;
        <a th:if="${not page.isFirst()}" th:href="@{/employee(start=${page.number-1})}">[上页]</a>&nbsp;&nbsp;
         <a th:if="${not page.isLast()}" th:href="@{/employee(start=${page.number+1})}">[下页]</a>&nbsp;&nbsp;
         <a th:href="@{/employee(start=${page.totalPages-1})}">[末页]</a>
 </div>



</body>
</html>